In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Netflix.csv')

In [3]:
df

,type,title,date_added,release_year,rating,listed_in
0,Movie,**Dick Johnson Is Dead**,9/25/2021,2020),",?PG-13",Documentaries
1,TV Show,**Ganglands**,9/24/2021,2021C,",?TV-MA","Crime TV Shows, International TV Shows, TV Act..."
2,TV Show,**Midnight Mass**,9/24/2021,2021c,",?TV-MA","TV Dramas, TV Horror, TV Mysteries"
3,Movie,**Confessions of an Invisible Girl**,9/22/2021,2021,",?TV-PG","Children & Family Movies, Comedies"
4,Movie,**Sankofa**,9/24/2021,1993S,",?TV-MA","Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...
3996,Movie,**One 2 Ka 4**,3/15/2017,2001S,",?TV-14","Action & Adventure, Comedies, Dramas"
3997,Movie,**Jim Norton: Mouthful of Shame**,3/14/2017,2017,",?TV-MA",Stand-Up Comedy
3998,Movie,**100 Meters**,03/10/2017,2016s,",?TV-MA","Dramas, International Movies, Sports Movies"
3999,Movie,**Burning Sands**,03/10/2017,2017s,",?TV-MA","Dramas, Independent Movies"
4000,Movie,**The Butterfly's Dream**,03/10/2017,2013,",?TV-PG","Dramas, International Movies, Romantic Movies"

In [4]:
df.shape

(4001, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          3934 non-null   object
 1   title         4001 non-null   object
 2   date_added    4001 non-null   object
 3   release_year  4001 non-null   object
 4   rating        4001 non-null   object
 5   listed_in     4001 non-null   object
dtypes: object(6)
memory usage: 187.7+ KB

In [6]:
df.columns

Index(['type', 'title', 'date_added', 'release_year', 'rating', 'listed_in'], dtype='object')

In [7]:
df.dtypes

type            object
title           object
date_added      object
release_year    object
rating          object
listed_in       object
dtype: object

In [8]:
df['title'].head(20)

0                 **Dick Johnson Is Dead**
1                            **Ganglands**
2                        **Midnight Mass**
3     **Confessions of an Invisible Girl**
4                              **Sankofa**
5        **The Great British Baking Show**
6                         **The Starling**
7      **Motu Patlu in the Game of Zones**
8                         **Je Suis Karl**
9             **Motu Patlu in Wonderland**
10      **Motu Patlu: Deep Sea Adventure**
11            **Motu Patlu: Mission Moon**
12                    **99 Songs (Tamil)**
13         **Bridgerton - The Afterparty**
14       **Bling Empire - The Afterparty**
15          **Cobra Kai - The Afterparty**
16         **The Circle - The Afterparty**
17               **Jailbirds New Orleans**
18     **Crime Stories: India Detectives**
19                 **True: Winter Wishes**
Name: title, dtype: object

In [9]:
# df['title'].str.replace('*','')
# ------or--------- 
df['title'] = df['title'].str.strip('*')

In [10]:
df.columns

Index(['type', 'title', 'date_added', 'release_year', 'rating', 'listed_in'], dtype='object')

In [11]:
df.sample()   # This will randomly select a row or a column or both

,type,title,date_added,release_year,rating,listed_in
101,TV Show,Transformers: War for Cybertron: Kingdom,7/29/2021,2021C,",?TV-Y7",Anime Series

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          3934 non-null   object
 1   title         4001 non-null   object
 2   date_added    4001 non-null   object
 3   release_year  4001 non-null   object
 4   rating        4001 non-null   object
 5   listed_in     4001 non-null   object
dtypes: object(6)
memory usage: 187.7+ KB

In [13]:
df['date_added'] = pd.to_datetime(df['date_added'],  format="%m/%d/%Y")

In [14]:
pd.DatetimeIndex(df['date_added']).year

Int64Index([2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021,
            ...
            2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017],
           dtype='int64', name='date_added', length=4001)

In [15]:
df['release_year']

0       2020)
1       2021C
2       2021c
3        2021
4       1993S
        ...
3996    2001S
3997     2017
3998    2016s
3999    2017s
4000     2013
Name: release_year, Length: 4001, dtype: object

In [16]:
df['release_year'] = df['release_year'].str.replace("(",'').str.replace(')','')

C:\Users\jamee\AppData\Local\Temp\ipykernel_16904\828760247.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['release_year'] = df['release_year'].str.replace("(",'').str.replace(')','')

In [17]:
df['release_year'] = df['release_year'].str.replace("C",'').str.replace('c','')

In [18]:
df['release_year'] = df['release_year'].str.replace("S",'').str.replace('s','')

In [19]:
df['release_year']

0       2020
1       2021
2       2021
3       2021
4       1993
        ...
3996    2001
3997    2017
3998    2016
3999    2017
4000    2013
Name: release_year, Length: 4001, dtype: object

In [20]:
df['release_year'].unique()

array(['2020', '2021', '1993', '2019', '2013', '2014', '2018', '1998',
       '2010', '2017', '1997', '1996', '1975', '1978', '1983', '1987',
       '2012', '2001', '2002', '2003', '2004', '2011', '2008', '2009',
       '2007', '2005', '2006', '2016', '1994', '2015', '1982', '1989',
       '1990', '1991', '1999', '1986', '1984', '1980', '1961', '2000',
       '1995', '1985', '1925', '1992', '1976', '1959', '1988', '1981',
       '1972', '1964', '1954', '1979', '1958', '1956', '1963', '1970',
       '1973', '1960', '1974', '1966', '1971', '1962', '1969'],
      dtype=object)

In [21]:
df['release_year'].value_counts()

2019    613
2018    600
2020    581
2017    446
2021    385
       ...
1972      1
1959      1
1925      1
1961      1
1969      1
Name: release_year, Length: 63, dtype: int64

In [22]:
df.columns

Index(['type', 'title', 'date_added', 'release_year', 'rating', 'listed_in'], dtype='object')

In [23]:
df['rating'] = df['rating'].str.replace(",",'').str.replace('?','')

C:\Users\jamee\AppData\Local\Temp\ipykernel_16904\1491857391.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['rating'] = df['rating'].str.replace(",",'').str.replace('?','')

In [24]:
df['rating']

0       PG-13
1       TV-MA
2       TV-MA
3       TV-PG
4       TV-MA
        ...
3996    TV-14
3997    TV-MA
3998    TV-MA
3999    TV-MA
4000    TV-PG
Name: rating, Length: 4001, dtype: object

In [25]:
df.dropna(inplace = True)

In [26]:
df['type'].value_counts()

Movie      3453
TV Show     481
Name: type, dtype: int64

In [27]:
df.columns

Index(['type', 'title', 'date_added', 'release_year', 'rating', 'listed_in'], dtype='object')

In [28]:
df['listed_in'].value_counts()

Stand-Up Comedy                                                    244
Dramas, International Movies                                       223
Comedies, Dramas, International Movies                             208
Dramas, Independent Movies, International Movies                   148
Documentaries                                                      139
                                                                  ...
Anime Series, International TV Shows, Spanish-Language TV Shows      1
British TV Shows, Romantic TV Shows, TV Dramas                       1
International TV Shows, Korean TV Shows, TV Comedies                 1
Comedies, LGBTQ Movies, Thrillers                                    1
Documentaries, Dramas, International Movies                          1
Name: listed_in, Length: 321, dtype: int64

In [29]:
month = pd.DatetimeIndex(df['date_added']).month

In [30]:
year = pd.DatetimeIndex(df['date_added']).year

In [31]:
day = pd.DatetimeIndex(df['date_added']).day

In [32]:
df.insert(3,'Added_Day',day)

In [33]:
df.insert(4,'Added_Month',month)

In [34]:
df.insert(5,'Added_Year',year)

In [35]:
df

,type,title,date_added,Added_Day,Added_Month,Added_Year,release_year,rating,listed_in
0,Movie,Dick Johnson Is Dead,2021-09-25,25,9,2021,2020,PG-13,Documentaries
1,TV Show,Ganglands,2021-09-24,24,9,2021,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act..."
2,TV Show,Midnight Mass,2021-09-24,24,9,2021,2021,TV-MA,"TV Dramas, TV Horror, TV Mysteries"
3,Movie,Confessions of an Invisible Girl,2021-09-22,22,9,2021,2021,TV-PG,"Children & Family Movies, Comedies"
4,Movie,Sankofa,2021-09-24,24,9,2021,1993,TV-MA,"Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...,...,...,...
3996,Movie,One 2 Ka 4,2017-03-15,15,3,2017,2001,TV-14,"Action & Adventure, Comedies, Dramas"
3997,Movie,Jim Norton: Mouthful of Shame,2017-03-14,14,3,2017,2017,TV-MA,Stand-Up Comedy
3998,Movie,100 Meters,2017-03-10,10,3,2017,2016,TV-MA,"Dramas, International Movies, Sports Movies"
3999,Movie,Burning Sands,2017-03-10,10,3,2017,2017,TV-MA,"Dramas, Independent Movies"
4000,Movie,The Butterfly's Dream,2017-03-10,10,3,2017,2013,TV-PG,"Dramas, International Movies, Romantic Movies"

In [36]:
Method = df['listed_in'].str.split(" ",n=2,expand=True)[0]

In [37]:
df.insert(9,'Method',Method)

In [38]:
df['listed_in'].str.split(" ",expand=True)

,0,1,2,3,4,5,6,7,8,9,10
0,Documentaries,None,None,None,None,None,None,None,None,None,None
1,Crime,TV,"Shows,",International,TV,"Shows,",TV,Action,&,Adventure,None
2,TV,"Dramas,",TV,"Horror,",TV,Mysteries,None,None,None,None,None
3,Children,&,Family,"Movies,",Comedies,None,None,None,None,None,None
4,"Dramas,",Independent,"Movies,",International,Movies,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
3996,Action,&,"Adventure,","Comedies,",Dramas,None,None,None,None,None,None
3997,Stand-Up,Comedy,None,None,None,None,None,None,None,None,None
3998,"Dramas,",International,"Movies,",Sports,Movies,None,None,None,None,None,None
3999,"Dramas,",Independent,Movies,None,None,None,None,None,None,None,None
4000,"Dramas,",International,"Movies,",Romantic,Movies,None,None,None,None,None,None

In [39]:
df

,type,title,date_added,Added_Day,Added_Month,Added_Year,release_year,rating,listed_in,Method
0,Movie,Dick Johnson Is Dead,2021-09-25,25,9,2021,2020,PG-13,Documentaries,Documentaries
1,TV Show,Ganglands,2021-09-24,24,9,2021,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",Crime
2,TV Show,Midnight Mass,2021-09-24,24,9,2021,2021,TV-MA,"TV Dramas, TV Horror, TV Mysteries",TV
3,Movie,Confessions of an Invisible Girl,2021-09-22,22,9,2021,2021,TV-PG,"Children & Family Movies, Comedies",Children
4,Movie,Sankofa,2021-09-24,24,9,2021,1993,TV-MA,"Dramas, Independent Movies, International Movies","Dramas,"
...,...,...,...,...,...,...,...,...,...,...
3996,Movie,One 2 Ka 4,2017-03-15,15,3,2017,2001,TV-14,"Action & Adventure, Comedies, Dramas",Action
3997,Movie,Jim Norton: Mouthful of Shame,2017-03-14,14,3,2017,2017,TV-MA,Stand-Up Comedy,Stand-Up
3998,Movie,100 Meters,2017-03-10,10,3,2017,2016,TV-MA,"Dramas, International Movies, Sports Movies","Dramas,"
3999,Movie,Burning Sands,2017-03-10,10,3,2017,2017,TV-MA,"Dramas, Independent Movies","Dramas,"
4000,Movie,The Butterfly's Dream,2017-03-10,10,3,2017,2013,TV-PG,"Dramas, International Movies, Romantic Movies","Dramas,"

In [40]:
final_result  = df

In [41]:
final_result

,type,title,date_added,Added_Day,Added_Month,Added_Year,release_year,rating,listed_in,Method
0,Movie,Dick Johnson Is Dead,2021-09-25,25,9,2021,2020,PG-13,Documentaries,Documentaries
1,TV Show,Ganglands,2021-09-24,24,9,2021,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",Crime
2,TV Show,Midnight Mass,2021-09-24,24,9,2021,2021,TV-MA,"TV Dramas, TV Horror, TV Mysteries",TV
3,Movie,Confessions of an Invisible Girl,2021-09-22,22,9,2021,2021,TV-PG,"Children & Family Movies, Comedies",Children
4,Movie,Sankofa,2021-09-24,24,9,2021,1993,TV-MA,"Dramas, Independent Movies, International Movies","Dramas,"
...,...,...,...,...,...,...,...,...,...,...
3996,Movie,One 2 Ka 4,2017-03-15,15,3,2017,2001,TV-14,"Action & Adventure, Comedies, Dramas",Action
3997,Movie,Jim Norton: Mouthful of Shame,2017-03-14,14,3,2017,2017,TV-MA,Stand-Up Comedy,Stand-Up
3998,Movie,100 Meters,2017-03-10,10,3,2017,2016,TV-MA,"Dramas, International Movies, Sports Movies","Dramas,"
3999,Movie,Burning Sands,2017-03-10,10,3,2017,2017,TV-MA,"Dramas, Independent Movies","Dramas,"
4000,Movie,The Butterfly's Dream,2017-03-10,10,3,2017,2013,TV-PG,"Dramas, International Movies, Romantic Movies","Dramas,"

In [42]:
final_result.to_csv('Cleaned_Netflix_data.csv')