In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Netflix.csv')

In [3]:
df.columns

Index(['type', 'title', 'date_added', 'release_year', 'rating', 'listed_in'], dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          3934 non-null   object
 1   title         4001 non-null   object
 2   date_added    4001 non-null   object
 3   release_year  4001 non-null   object
 4   rating        4001 non-null   object
 5   listed_in     4001 non-null   object
dtypes: object(6)
memory usage: 187.7+ KB

In [5]:
df.head()

,type,title,date_added,release_year,rating,listed_in
0,Movie,**Dick Johnson Is Dead**,9/25/2021,2020),",?PG-13",Documentaries
1,TV Show,**Ganglands**,9/24/2021,2021C,",?TV-MA","Crime TV Shows, International TV Shows, TV Act..."
2,TV Show,**Midnight Mass**,9/24/2021,2021c,",?TV-MA","TV Dramas, TV Horror, TV Mysteries"
3,Movie,**Confessions of an Invisible Girl**,9/22/2021,2021,",?TV-PG","Children & Family Movies, Comedies"
4,Movie,**Sankofa**,9/24/2021,1993S,",?TV-MA","Dramas, Independent Movies, International Movies"

In [6]:
df['title'] = df['title'].str.strip('**')

In [7]:
# df.tail(50)

In [8]:
df['type'] = df['type'].fillna('Not Mentioned')   #  Filling the null value of type column by using fillna method

In [9]:
df['type'].isnull().sum()

0

In [10]:
df.columns

Index(['type', 'title', 'date_added', 'release_year', 'rating', 'listed_in'], dtype='object')

In [11]:
# df['title'].head(50)    # This columns looks fine

In [12]:
# df['date_added']

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          4001 non-null   object
 1   title         4001 non-null   object
 2   date_added    4001 non-null   object
 3   release_year  4001 non-null   object
 4   rating        4001 non-null   object
 5   listed_in     4001 non-null   object
dtypes: object(6)
memory usage: 187.7+ KB

In [14]:
# Now let's convert the data type of date_added column into datetime

In [15]:
df.date_added

0        9/25/2021
1        9/24/2021
2        9/24/2021
3        9/22/2021
4        9/24/2021
           ...
3996     3/15/2017
3997     3/14/2017
3998    03/10/2017
3999    03/10/2017
4000    03/10/2017
Name: date_added, Length: 4001, dtype: object

In [16]:
df['date_added'] = pd.to_datetime(df['date_added'],format = '%m/%d/%Y')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4001 entries, 0 to 4000
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          4001 non-null   object
 1   title         4001 non-null   object
 2   date_added    4001 non-null   datetime64[ns]
 3   release_year  4001 non-null   object
 4   rating        4001 non-null   object
 5   listed_in     4001 non-null   object
dtypes: datetime64[ns](1), object(5)
memory usage: 187.7+ KB

In [18]:
df['release_year'].head(50)   # Now let's clean this column

0     2020)
1     2021C
2     2021c
3      2021
4     1993S
5     2021s
6     2021)
7     2019C
8     2021S
9      2013
10    2014s
11    2013c
12     2021
13     2021
14    2021)
15    2021(
16     2021
17    2021)
18    2021)
19    2019C
20     2018
21    2018)
22    2018C
23    2021S
24     2021
25     2020
26    2018s
27    2021)
28    2021S
29    1998(
30     2010
31    2013(
32    2013(
33    2021(
34    2021c
35    2021S
36    2020)
37    2021(
38    2021(
39    2021s
40    2019(
41    2017(
42    2019C
43    2019)
44    2021s
45    2021c
46    2019s
47    2020S
48    2021S
49     2021
Name: release_year, dtype: object

In [19]:
df['release_year'] = df['release_year'].str.replace('(','').str.replace(')','').str.replace('c','').str.replace('C','').str.replace('S','')

C:\Users\jamee\AppData\Local\Temp\ipykernel_20840\3320403008.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['release_year'] = df['release_year'].str.replace('(','').str.replace(')','').str.replace('c','').str.replace('C','').str.replace('S','')

In [20]:
df['release_year'] = df['release_year'].str.replace('s','')

In [21]:
df['release_year']  # Now this column is finally cleaned

0       2020
1       2021
2       2021
3       2021
4       1993
        ...
3996    2001
3997    2017
3998    2016
3999    2017
4000    2013
Name: release_year, Length: 4001, dtype: object

In [22]:
df.columns

Index(['type', 'title', 'date_added', 'release_year', 'rating', 'listed_in'], dtype='object')

In [23]:
df['rating']    # Now let's clean this column

0       ,?PG-13
1       ,?TV-MA
2       ,?TV-MA
3       ,?TV-PG
4       ,?TV-MA
         ...
3996    ,?TV-14
3997    ,?TV-MA
3998    ,?TV-MA
3999    ,?TV-MA
4000    ,?TV-PG
Name: rating, Length: 4001, dtype: object

In [24]:
df['rating'] = df['rating'].str.replace(',','').str.replace('?','')

C:\Users\jamee\AppData\Local\Temp\ipykernel_20840\2815540519.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['rating'] = df['rating'].str.replace(',','').str.replace('?','')

In [25]:
# df['rating'].head(50)

In [26]:
# df['rating'].tail(50)

In [27]:
df.columns

Index(['type', 'title', 'date_added', 'release_year', 'rating', 'listed_in'], dtype='object')

In [28]:
df.head()

,type,title,date_added,release_year,rating,listed_in
0,Movie,Dick Johnson Is Dead,2021-09-25,2020,PG-13,Documentaries
1,TV Show,Ganglands,2021-09-24,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act..."
2,TV Show,Midnight Mass,2021-09-24,2021,TV-MA,"TV Dramas, TV Horror, TV Mysteries"
3,Movie,Confessions of an Invisible Girl,2021-09-22,2021,TV-PG,"Children & Family Movies, Comedies"
4,Movie,Sankofa,2021-09-24,1993,TV-MA,"Dramas, Independent Movies, International Movies"

In [29]:
method = df['listed_in'].str.split(' ',expand = True)[0]

In [30]:
df.insert(6,'Method',method)

In [31]:
df.head()

,type,title,date_added,release_year,rating,listed_in,Method
0,Movie,Dick Johnson Is Dead,2021-09-25,2020,PG-13,Documentaries,Documentaries
1,TV Show,Ganglands,2021-09-24,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",Crime
2,TV Show,Midnight Mass,2021-09-24,2021,TV-MA,"TV Dramas, TV Horror, TV Mysteries",TV
3,Movie,Confessions of an Invisible Girl,2021-09-22,2021,TV-PG,"Children & Family Movies, Comedies",Children
4,Movie,Sankofa,2021-09-24,1993,TV-MA,"Dramas, Independent Movies, International Movies","Dramas,"

In [32]:
# Now let's seperate day, month and year and put it in seperate columns

In [36]:
year = pd.DatetimeIndex(df['date_added']).year
month = pd.DatetimeIndex(df['date_added']).month
day = pd.DatetimeIndex(df['date_added']).day

In [37]:
df.insert(4,'Year',year)
df.insert(5,'Month',month)
df.insert(6,'Day',day)

In [38]:
df

,type,title,date_added,release_year,Year,Month,Day,rating,listed_in,Method
0,Movie,Dick Johnson Is Dead,2021-09-25,2020,2021,9,25,PG-13,Documentaries,Documentaries
1,TV Show,Ganglands,2021-09-24,2021,2021,9,24,TV-MA,"Crime TV Shows, International TV Shows, TV Act...",Crime
2,TV Show,Midnight Mass,2021-09-24,2021,2021,9,24,TV-MA,"TV Dramas, TV Horror, TV Mysteries",TV
3,Movie,Confessions of an Invisible Girl,2021-09-22,2021,2021,9,22,TV-PG,"Children & Family Movies, Comedies",Children
4,Movie,Sankofa,2021-09-24,1993,2021,9,24,TV-MA,"Dramas, Independent Movies, International Movies","Dramas,"
...,...,...,...,...,...,...,...,...,...,...
3996,Movie,One 2 Ka 4,2017-03-15,2001,2017,3,15,TV-14,"Action & Adventure, Comedies, Dramas",Action
3997,Movie,Jim Norton: Mouthful of Shame,2017-03-14,2017,2017,3,14,TV-MA,Stand-Up Comedy,Stand-Up
3998,Movie,100 Meters,2017-03-10,2016,2017,3,10,TV-MA,"Dramas, International Movies, Sports Movies","Dramas,"
3999,Movie,Burning Sands,2017-03-10,2017,2017,3,10,TV-MA,"Dramas, Independent Movies","Dramas,"
4000,Movie,The Butterfly's Dream,2017-03-10,2013,2017,3,10,TV-PG,"Dramas, International Movies, Romantic Movies","Dramas,"

In [39]:
final_result = df

In [ ]:
final_resu