In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('artworks.csv')

In [3]:
df

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16724,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16725,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16726,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16727,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16728,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books

In [4]:
df.columns

Index(['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender',
       'Date', 'Department'],
      dtype='object')

In [5]:
df.rename({'BeginDate':'Begin_Date'},axis=1,inplace=True)

In [6]:
df.rename({'EndDate':'End_Date'},axis=1,inplace=True)

In [7]:
df['Nationality']=df['Nationality'].str.replace('(','').str.replace(')','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_4520\769273427.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Nationality']=df['Nationality'].str.replace('(','').str.replace(')','')

In [8]:
df['Begin_Date']=df['Begin_Date'].str.replace('(','').str.replace(')','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_4520\494884395.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Begin_Date']=df['Begin_Date'].str.replace('(','').str.replace(')','')

In [9]:
df['End_Date']=df['End_Date'].str.replace('(','').str.replace(')','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_4520\1747363542.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['End_Date']=df['End_Date'].str.replace('(','').str.replace(')','')

In [10]:
df['Gender']=df['Gender'].str.replace('(','').str.replace(')','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_4520\1658112910.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gender']=df['Gender'].str.replace('(','').str.replace(')','')

In [11]:
df.dtypes

Title          object
Artist         object
Nationality    object
Begin_Date     object
End_Date       object
Gender         object
Date           object
Department     object
dtype: object

In [12]:
df['Begin_Date'].unique()

array(['1947', '1916', '1870', '1861', '1857', '1919', '1928', '1964',
       '1882', '1901', '1935', '1871', '1894', '1955', '1878', '1927',
       '1936', '1867', '1932', '1886', '1938', '1926', '1898', '1868',
       '1889', nan, '1934', '1929', '1930', '1949', '1753', '1973',
       '1902', '1933', '1893', '1887', '1925', '1948', '1931', '1911',
       '1943', '1954', '1843', '1966', '1957', '1903', '1909', '1890',
       '1883', '1945', '1864', '1904', '1915', '1958', '1877', '1978',
       '1963', '1922', '1831', '1967', '1905', '1830', '1924', '1881',
       '1910', '1946', '1885', '1917', '1923', '1900', '2005', '1884',
       '1913', '1880', '1874', '1941', '1977', '1862', '1852', '1950',
       '1896', '1971', '1860', '1969', '1962', '1912', '1921', '1914',
       '1895', '1982', '1906', '1937', '1939', '1972', '1959', '1942',
       '1961', '1826', '1899', '1944', '1837', '1869', '1951', '1975',
       '1908', '1974', '1891', '1940', '1820', '1873', '1892', '1876',
       '1960', '1829', '1875', '1879', '1968', '1953', '1866', '1858',
       '1833', '1840', '1822', '1918', '1965', '1952', '1802', '1920',
       '1865', '1983', '1970', '1907', '1819', '1888', '2012', '1856',
       '1897', '1976', '1956', '1816', '1746', '1849', '1801', '1832',
       '1844', '1872', '1980', '1988', '1979', '1985', '1841', '1863',
       '1823', '1828', '1811', '1997', '1825', '1836', '1848', '1834',
       '1815', '1859', '1992', '1787', '1814', '1851', '1842', '1824',
       '1813', '1796', '1798', '1981', '1845', '2010', '1808', '1853',
       '1996', '1855', '1827', '1839', '1812', '1800', '1984', '1792',
       '1797', '1986', '1987', '1850', '1854', '1821'], dtype=object)

In [12]:
df.dropna(inplace=True)

In [13]:
df['Gender'].value_counts()

Male      9050
Female    1396
            27
male         1
Name: Gender, dtype: int64

In [14]:
df.loc[df['Gender'] == 'male'] = 'Male'

In [15]:
df['Gender'].value_counts()

Male      9051
Female    1396
            27
Name: Gender, dtype: int64

In [16]:
df.loc[df['Gender'] == "" ] = "Unknown"

In [17]:
df['Gender'].value_counts()

Male       9051
Female     1396
Unknown      27
Name: Gender, dtype: int64

In [18]:
df['Gender'].unique()

array(['Female', 'Male', 'Unknown'], dtype=object)

In [19]:
df.loc[df['Gender'] == 'Unknown'].index

Int64Index([  274,  2409,  2636,  2883,  3088,  3821,  3881,  4450,  5234,
             5645,  5811,  6410,  6704,  7742,  7930,  8088,  9046,  9052,
             9172,  9448, 10463, 11703, 12379, 12998, 13119, 16034, 16392],
           dtype='int64')

In [20]:
df['Date'] = df['Date'].str.replace('c','').str.replace('s','').str.replace('S','').str.replace('.','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_4520\75049368.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Date'] = df['Date'].str.replace('c','').str.replace('s','').str.replace('S','').str.replace('.','')

In [21]:
df['Date'] = df['Date'].str.replace('(','').str.replace(')','').str.replace("'",'')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_4520\637282021.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Date'] = df['Date'].str.replace('(','').str.replace(')','').str.replace("'",'')

In [28]:
df['Date'] = df['Date'].str.strip(" ")

In [29]:
df['Date']

0             1986
1             1978
2        1889-1911
3        1927-1940
4             1903
           ...
16721         1947
16722         1936
16723         1943
16724    1968-1969
16726         1922
Name: Date, Length: 10474, dtype: object

In [30]:
temp = df.loc[:,'Date'].str.split('-')

In [31]:
temp

0              [1986]
1              [1978]
2        [1889, 1911]
3        [1927, 1940]
4              [1903]
             ...
16721          [1947]
16722          [1936]
16723          [1943]
16724    [1968, 1969]
16726          [1922]
Name: Date, Length: 10474, dtype: object

In [24]:
df['Date'].dropna(inplace=True)

In [32]:
dddd = []
for i in temp:
    
    if len(i) == 2:
        a = float(i[0])
        b = float(i[1])
        add = a+b
        add = add//2
        dddd.append(add)
    else:
        c = float(i[0])
        dddd.append(c)

ValueError: could not convert string to float: 'Unknown'

In [ ]:
for i in dddd:
    print(type(i))

In [ ]:
for i in temp:
    print(type(i))

In [27]:
df.columns

Index(['Title', 'Artist', 'Nationality', 'Begin_Date', 'End_Date', 'Gender',
       'Date', 'Department'],
      dtype='object')

In [53]:
df

,Title,Artist,Nationality,Begin_Date,End_Date,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947,2013,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916,2007,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870,1943,Male,1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861,1944,Male,1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,1857,1927,Male,1903,Photography
...,...,...,...,...,...,...,...,...
16721,Plate (folio 7) from EXPLORATIONS,Henri Goetz,French,1909,1989,Male,1947,Prints & Illustrated Books
16722,High Peak,Matthew Rackham Barnes,American,1880,1951,Male,1936,Painting & Sculpture
16723,"Picasso Sculpture (paper, skull)",Brassaï (Gyula Halász),French,1899,1984,Male,1943,Photography
16724,Oval with Points,Henry Moore,British,1898,1986,Male,1968-1969,Painting & Sculpture
16726,The Catboat,Edward Hopper,American,1882,1967,Male,1922,Prints & Illustrated Books

In [52]:
df.insert(7,'Dates',ddd)

ValueError: Length of values (180) does not match length of index (10474)

In [47]:
a = 5//2

In [49]:
print(a)

2