In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('artworks.csv')

In [3]:
df.head(10)

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
5,Pictorial ornament (folio 11) from WOODCUTS,Antonio Frasconi,(American),(1919),(2013),(Male),1957,Prints & Illustrated Books
6,Rue de l'Hôtel-de-Ville,Eugène Atget,(French),(1857),(1927),(Male),1924,Photography
7,Los Angeles Airport,Garry Winogrand,(American),(1928),(1984),(Male),1978-1983,Photography
8,Why Defy from Disasters of Peace,Diane Victor,(South African),(1964),NaN,(Female),2001,Prints & Illustrated Books
9,STILL WATER AND FISH,David Brown Milne,(Canadian),(1882),(1953),(Male),(1941),Prints & Illustrated Books

In [4]:
df.columns

Index(['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender',
       'Date', 'Department'],
      dtype='object')

In [5]:
df['Nationality'] = df['Nationality'].str.replace('(','').str.replace(')','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_2860\3683281892.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Nationality'] = df['Nationality'].str.replace('(','').str.replace(')','')

In [6]:
df['Nationality']

0        American
1         Spanish
2          French
3          French
4          French
           ...
16724     British
16725     Chilean
16726    American
16727
16728    American
Name: Nationality, Length: 16729, dtype: object

In [7]:
df.columns

Index(['Title', 'Artist', 'Nationality', 'BeginDate', 'EndDate', 'Gender',
       'Date', 'Department'],
      dtype='object')

In [8]:
df['BeginDate'] = df['BeginDate'].str.replace('(','').str.replace(')','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_2860\1615847738.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['BeginDate'] = df['BeginDate'].str.replace('(','').str.replace(')','')

In [9]:
df['EndDate'] = df['EndDate'].str.replace('(','').str.replace(')','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_2860\1218209869.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['EndDate'] = df['EndDate'].str.replace('(','').str.replace(')','')

In [10]:
df['Gender'] = df['Gender'].str.replace('(','').str.replace(')','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_2860\3273680472.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gender'] = df['Gender'].str.replace('(','').str.replace(')','')

In [11]:
df.dtypes

Title          object
Artist         object
Nationality    object
BeginDate      object
EndDate        object
Gender         object
Date           object
Department     object
dtype: object

In [12]:
# check if there is any null value in the dataframe
df.isnull().sum().sum()

7197

In [13]:
# Drop all the null values from the whole dataframe
df.dropna(inplace=True)

In [14]:
df.isnull().sum().sum()

0

In [15]:
df.loc[df['Gender']== 'male']= 'Male'

In [16]:
df['Gender'].unique()

array(['Female', 'Male', ''], dtype=object)

In [17]:
df.loc[df['Gender']== '']= 'Unknown'

In [18]:
df['Gender'].unique()

array(['Female', 'Male', 'Unknown'], dtype=object)

In [19]:
# bad_characters = ['-','.','c','s','S','(',')']
# Let's remove these bad character from the Date column

In [20]:
df['Date'] = df['Date'].str.strip(" ")

In [21]:
df['Date'] = df['Date'].str.replace('c','').str.replace('s','').str.replace('S','').str.replace('.','')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_2860\75049368.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Date'] = df['Date'].str.replace('c','').str.replace('s','').str.replace('S','').str.replace('.','')

In [22]:
df['Date'] = df['Date'].str.replace('(','').str.replace(')','').str.replace("'",'')

C:\Users\Jameel Ahmed\AppData\Local\Temp\ipykernel_2860\637282021.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Date'] = df['Date'].str.replace('(','').str.replace(')','').str.replace("'",'')

In [23]:
df['Date'] = df.loc[:,'Date'].str.strip(" ")

In [27]:
df.dropna(inplace=True)

In [28]:
df['Date']=df['Date'].str.replace('Unknown','1967')

In [37]:
df['Date']=df['Date'].str.replace('Male','0000')

In [38]:
temp = df.loc[:,'Date'].str.split('-')

In [40]:
new = []
for i in temp:
    if len(i) == 2:
        a = float(i[0])
        b = float(i[1])
        c = a+b
        avg = c//2
        new.append(avg)
#         print(avg)
    else:
        d = float(i[0])
        new.append(d)
#         print(d)

In [64]:
new = pd.Series(new)

In [65]:
df.insert(7,'Dates',new)

ValueError: cannot insert Dates, already exists

In [66]:
df.drop('Date',inplace=True,axis = 1)

KeyError: "['Date'] not found in axis"

In [69]:
df.loc[:,'Dates'].split('.',expand=True)

AttributeError: 'Series' object has no attribute 'split'

In [61]:
df['Dates']

0        1986.0
1        1978.0
2        1900.0
3        1933.0
4        1903.0
          ...
16721       NaN
16722       NaN
16723       NaN
16724       NaN
16726       NaN
Name: Dates, Length: 10474, dtype: float64