In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
base_site = 'https://quotes.toscrape.com/'

In [3]:
response = requests.get(base_site)

In [4]:
response

In [5]:
html = response.content

In [6]:
# html

In [7]:
soup = BeautifulSoup(html, 'html.parser')

In [8]:
# soup

In [9]:
# quotes = soup.find_all(class_ = 'quote')

In [10]:
# for i in quotes:
#     tags = i.find(class_ = 'tags')
# #     print(tags)
#     tag = tags.find_all(class_='tag')
# #     print(tag)
#     for j in tag:
#         print(j.text)

In [11]:
# for i in soup.find_all(class_ = 'tag'):
#     print(i.text)

In [17]:
# soup.find_all(class_ = 'quote')

# Now we will put the saying in sub-lists

In [12]:
saying_authors_tags = []
quotes = soup.find_all(class_ = 'quote')
for i in quotes:
    saying = i.find(class_ = 'text')
    saying = saying.text
    author = i.find(class_ = 'author')
    author = author.text
    tags = i.find(class_ = 'tags')
    tag = tags.find_all(class_ = 'tag')
    tags = []
    for j in tag:
        j = j.text
        tags.append(j)
    
    saying_authors_tags.append([saying,author,tags])

In [13]:
# saying_authors_tags

# putting in dataframe

In [14]:
df = pd.DataFrame(data=saying_authors_tags,columns = ['Saying', 'Author','Tags'])

In [15]:
df

,Saying,Author,Tags
0,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"[adulthood, success, value]"
6,“It is better to be hated for what you are tha...,André Gide,"[life, love]"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"[edison, failure, inspirational, paraphrased]"
8,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,[misattributed-eleanor-roosevelt]
9,"“A day without sunshine is like, you know, nig...",Steve Martin,"[humor, obvious, simile]"