In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
base_site = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'

In [3]:
response = requests.get(base_site)

In [4]:
response

In [5]:
html = response.content

In [6]:
# html

In [7]:
soup = BeautifulSoup(html,'html.parser')

In [8]:
# soup

In [9]:
table = soup.find(class_ = "wikitable")

In [21]:
# table

In [22]:
table_rows = table.find_all('tr')

In [24]:
# table_rows

In [12]:
table_rows = table_rows[3:]

In [13]:
# table_rows

# Scraping Ranks
for top 3 countries

In [14]:
for i in table_rows[:3]:
    rank = i.find('th')
#     print(rank.text)
    rank = rank.text
    rank = rank.strip()
#     print(rank)

In [ ]:
for i in table_rows[:3]:
    rank = i.find('th')
#     print(rank.text)
    rank = rank.text
    rank = rank.strip()
#     print(rank)

    non_headers = i.find_all('td')
#     print(non_headers[0].text)
    name = non_headers[0].text.strip()
#     print(name)

# Rank Non Header

In [15]:
whole_table = []
for i in table_rows[:3]:
    rank = i.find('th')
#     print(rank.text)
    rank = rank.text
    rank = rank.strip()
#     print(rank)

    non_headers = i.find_all('td')
#     print(non_headers[0].text)
    name = non_headers[0].text.strip()
#     print(name)
    
    population = non_headers[1].text.strip()
    percentage = non_headers[2].text.strip()
    
    date = non_headers[3].text.strip()
    source = non_headers[4].text.strip()[:-3]
    
    whole_table.append([rank,name,population,percentage,date,source])
    
#     print(source)

In [16]:
whole_table

[['1', 'China', '1,411,750,000', '17.6%', '31 Dec 2022', 'Official estimate'],
 ['2', 'India', '1,375,586,000', '17.2%', '1 Mar 2022', 'Official projection'],
 ['3',
  'United States',
  '334,410,487',
  '4.17%',
  '21 Feb 2023',
  'National population clock']]

In [17]:
for i in whole_table:
    print(i)

['1', 'China', '1,411,750,000', '17.6%', '31 Dec 2022', 'Official estimate']
['2', 'India', '1,375,586,000', '17.2%', '1 Mar 2022', 'Official projection']
['3', 'United States', '334,410,487', '4.17%', '21 Feb 2023', 'National population clock']

In [18]:
df = pd.DataFrame(data = whole_table,columns = ['Rank','Name','Population','Percentage','Date',"Source"])

In [19]:
df

,Rank,Name,Population,Percentage,Date,Source
0,1,China,"1,411,750,000",17.6%,31 Dec 2022,Official estimate
1,2,India,"1,375,586,000",17.2%,1 Mar 2022,Official projection
2,3,United States,"334,410,487",4.17%,21 Feb 2023,National population clock