In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('World_Happiness_2015.csv')

In [5]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [6]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [8]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [9]:
factor = list(df.columns)

In [10]:
factor

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

In [11]:
df.shape

(158, 12)

In [12]:
factor = factor[5:]

In [13]:
factor

['Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

In [15]:
df.loc[:,factor].sum(axis = 1)

0      7.58696
1      7.56092
2      7.52708
3      7.52222
4      7.42694
        ...
153    3.46504
154    3.34009
155    3.00629
156    2.90454
157    2.83897
Length: 158, dtype: float64

In [17]:
factor = df.loc[:,factor]

In [18]:
factor

,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...
153,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [20]:
factor.rename(columns = {'Economy (GDP per Capita)':'Economy'},inplace = True)

In [21]:
factor

,Economy,Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...
153,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [22]:
factor.rename(columns = {'Health (Life Expectancy)':'Health'}, inplace = True)

In [23]:
factor.rename(columns = {'Trust (Government Corruption)':'Trust'}, inplace = True)

In [24]:
factor

,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia Residual
0,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...
153,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [26]:
def category(e):
    if e > 1:
        return 'High'
    else:
        return 'Low'

In [30]:
factor['Economy'].apply(category)

0      High
1      High
2      High
3      High
4      High
       ...
153     Low
154     Low
155     Low
156     Low
157     Low
Name: Economy, Length: 158, dtype: object

In [31]:
df['Ordinal_economy'] = factor['Economy'].apply(category)

In [32]:
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Ordinal_economy
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,High
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,High
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,High
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,High
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Low
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Low
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Low
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Low
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Low

# Now let's apply the category on the original dataframe

In [34]:
def category(e,a):
    if e > a:
        return 'High'
    else:
        return 'Low'

In [37]:
df['Economy (GDP per Capita)'].apply(category,a=1)

0      High
1      High
2      High
3      High
4      High
       ...
153     Low
154     Low
155     Low
156     Low
157     Low
Name: Economy (GDP per Capita), Length: 158, dtype: object

In [38]:
# Apply it by using the column name

In [39]:
def category(element,x,col_name):
    if element > x:
        return f'High {col_name}'
    else:
        return f"Low {col_name}"

In [40]:
df['Economy (GDP per Capita)'].apply(category , x = 1, col_name = "Economy")

0      High Economy
1      High Economy
2      High Economy
3      High Economy
4      High Economy
           ...
153     Low Economy
154     Low Economy
155     Low Economy
156     Low Economy
157     Low Economy
Name: Economy (GDP per Capita), Length: 158, dtype: object

In [41]:
# ---------------------------------------------

In [42]:
factor

,Economy,Family,Health,Freedom,Trust,Generosity,Dystopia Residual
0,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...
153,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [43]:
def category(element):
    if element > 1:
        return 'High'
    else:
        return "Low"

In [44]:
factor.applymap(category)

    Economy Family Health Freedom Trust Generosity Dystopia Residual
0      High   High    Low     Low   Low        Low              High
1      High   High    Low     Low   Low        Low              High
2      High   High    Low     Low   Low        Low              High
3      High   High    Low     Low   Low        Low              High
4      High   High    Low     Low   Low        Low              High
..      ...    ...    ...     ...   ...        ...               ...
153     Low    Low    Low     Low   Low        Low               Low
154     Low    Low    Low     Low   Low        Low              High
155     Low    Low    Low     Low   Low        Low               Low
156     Low    Low    Low     Low   Low        Low              High
157     Low    Low    Low     Low   Low        Low              High

[158 rows x 7 columns]

In [47]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Ordinal_economy'],
      dtype='object')

# Apply group function

In [49]:
region_group = df.groupby('Region')

In [50]:
region_group

In [52]:
region_group.get_group('Western Europe')

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Ordinal_economy
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,High
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,High
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,High
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,High
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,High
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,High
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,High
12,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320,High
16,Luxembourg,Western Europe,17,6.946,0.03499,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,1.96961,High
17,Ireland,Western Europe,18,6.940,0.03676,1.33596,1.36948,0.89533,0.61777,0.28703,0.45901,1.97570,High
18,Belgium,Western Europe,19,6.937,0.03595,1.30782,1.28566,0.89667,0.58450,0.22540,0.22250,2.41484,High
20,United Kingdom,Western Europe,21,6.867,0.01866,1.26637,1.28548,0.90943,0.59625,0.32067,0.51912,1.96994,High
25,Germany,Western Europe,26,6.750,0.01848,1.32792,1.29937,0.89186,0.61477,0.21843,0.28214,2.11569,High
28,France,Western Europe,29,6.575,0.03512,1.27778,1.26038,0.94579,0.55011,0.20646,0.12332,2.21126,High
35,Spain,Western Europe,36,6.329,0.03468,1.23011,1.31379,0.95562,0.45951,0.06398,0.18227,2.12367,High
36,Malta,Western Europe,37,6.302,0.04206,1.20740,1.30203,0.88721,0.60365,0.13586,0.51752,1.64880,High
49,Italy,Western Europe,50,5.948,0.03914,1.25114,1.19777,0.95446,0.26236,0.02901,0.22823,2.02518,High
65,North Cyprus,Western Europe,66,5.695,0.05635,1.20806,1.07008,0.92356,0.49027,0.14280,0.26169,1.59888,High
66,Cyprus,Western Europe,67,5.689,0.05580,1.20813,0.89318,0.92356,0.40672,0.06146,0.30638,1.88931,High
87,Portugal,Western Europe,88,5.102,0.04802,1.15991,1.13935,0.87519,0.51469,0.01078,0.13719,1.26462,High
101,Greece,Western Europe,102,4.857,0.05062,1.15406,0.92933,0.88213,0.07699,0.01397,0.00000,1.80101,High

In [55]:
region_group['Happiness Score'].mean().sort_values(ascending = False)

Region
Australia and New Zealand          7.285000
North America                      7.273000
Western Europe                     6.689619
Latin America and Caribbean        6.144682
Eastern Asia                       5.626167
Middle East and Northern Africa    5.406900
Central and Eastern Europe         5.332931
Southeastern Asia                  5.317444
Southern Asia                      4.580857
Sub-Saharan Africa                 4.202800
Name: Happiness Score, dtype: float64

# Pivot table

In [56]:
df.pivot_table(index = 'Region', values = 'Happiness Score',aggfunc = 'mean')

                                 Happiness Score
Region
Australia and New Zealand               7.285000
Central and Eastern Europe              5.332931
Eastern Asia                            5.626167
Latin America and Caribbean             6.144682
Middle East and Northern Africa         5.406900
North America                           7.273000
Southeastern Asia                       5.317444
Southern Asia                           4.580857
Sub-Saharan Africa                      4.202800
Western Europe                          6.689619

In [57]:
df.pivot_table(index = 'Region', values = 'Happiness Score',aggfunc = 'mean').sort_values(by = 'Happiness Score',ascending = False)

                                 Happiness Score
Region
Australia and New Zealand               7.285000
North America                           7.273000
Western Europe                          6.689619
Latin America and Caribbean             6.144682
Eastern Asia                            5.626167
Middle East and Northern Africa         5.406900
Central and Eastern Europe              5.332931
Southeastern Asia                       5.317444
Southern Asia                           4.580857
Sub-Saharan Africa                      4.202800

In [58]:
df.pivot_table(index = 'Region', values = ['Happiness Score','Happiness Rank'],aggfunc = ['mean','std','min','max','count'])

                                          mean                            std  \
                                Happiness Rank Happiness Score Happiness Rank
Region
Australia and New Zealand             9.500000        7.285000       0.707107
Central and Eastern Europe           79.000000        5.332931      26.667262
Eastern Asia                         64.500000        5.626167      24.688054
Latin America and Caribbean          46.909091        6.144682      28.716859
Middle East and Northern Africa      77.600000        5.406900      43.213546
North America                        10.000000        7.273000       7.071068
Southeastern Asia                    81.222222        5.317444      39.917971
Southern Asia                       113.142857        4.580857      26.573349
Sub-Saharan Africa                  127.900000        4.202800      22.863923
Western Europe                       29.523810        6.689619      29.268787

                                                           min  \
                                Happiness Score Happiness Rank
Region
Australia and New Zealand              0.001414              9
Central and Eastern Europe             0.570446             31
Eastern Asia                           0.554053             38
Latin America and Caribbean            0.728560             12
Middle East and Northern Africa        1.101382             11
North America                          0.217789              5
Southeastern Asia                      0.950020             24
Southern Asia                          0.570526             79
Sub-Saharan Africa                     0.609557             71
Western Europe                         0.824582              1

                                                           max  \
                                Happiness Score Happiness Rank
Region
Australia and New Zealand                 7.284             10
Central and Eastern Europe                4.218            134
Eastern Asia                              4.874            100
Latin America and Caribbean               4.518            119
Middle East and Northern Africa           3.006            156
North America                             7.119             15
Southeastern Asia                         3.819            145
Southern Asia                             3.575            153
Sub-Saharan Africa                        2.839            158
Western Europe                            4.857            102

                                                         count
                                Happiness Score Happiness Rank Happiness Score
Region
Australia and New Zealand                 7.286              2               2
Central and Eastern Europe                6.505             29              29
Eastern Asia                              6.298              6               6
Latin America and Caribbean               7.226             22              22
Middle East and Northern Africa           7.278             20              20
North America                             7.427              2               2
Southeastern Asia                         6.798              9               9
Southern Asia                             5.253              7               7
Sub-Saharan Africa                        5.477             40              40
Western Europe                            7.587             21              21